*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.signin {
    background: red;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor : pointer;
}

.hero {
    text-align: center;
    margin-top: 100px;
}

.hero h1{
    font-size: 3rem;
}

.hero h2 {
    margin : 20px 0;
}

.email-box {
    margin-top: 20px;
}

.email-box input {
    padding: 10px;
    width: 250px;
}

.email-box button {
    padding: 10px;
    background: red;
    color: white;
    border: none;
}

.row {
    margin: 40px;
}

.movies {
    display: flex;
    gap: 15px;
}

.movies img {
    width: 200px;
    transition: transform 0.3;
}

.movies img:hover {
    transform: scale(1.1);
}